.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 7rem;
    padding: 0 2rem ;
}

.dogimg{
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.login{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.dogimg img{
    width: 500px;
}

.avtar{
    width: 130px;
    height: 130px;
    padding: 10px;
    background-color: #488ece;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px whitesmoke;
}

form{
    width: 360px;
}

form h2{
    font-size: 2.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    color: #121212;
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #b3b0b0;
}


.input-div.one {
    margin-top: 0; 
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
	font-size: 1rem;
	transition: .3s;
}

a:hover{
	color: #488ece;
}

.input-div.two {
    margin-bottom: 4px;

}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div:focus-within .i {
    color: #488ece;
}

.input-div:focus-within:after, .input-div:focus-within::before{
    width: -50%;
}

.input-div:focus-within div h5 {
   color: #488ece;

}


.input-div>div h5{
    position: absolute;
    transform: translateY(-50%);
    color: #999;
    top: -5px;
    font-size: 15px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
}

.addImage{
    color: white;
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: #124ed6;
    border: 1px thin;
    margin-left: -35px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 23px 12px 2px whitesmoke;
}

.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.3rem;
    outline: none;
    border: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    background-image: linear-gradient(to left , #74c2c9 ,#488ece ,#124ed6);
}

.btn:hover{
    background-position: right;
}




@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.dogimg img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.dogimg{
		display: none;
	}


	.login{
		justify-content: center;
	}
}